* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
html{
  font-size: 75%;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden;
  background-color: black;
  border-radius: 12px */
}





.Search{
  border-radius: 20px;
}

a{
color: white;
text-decoration: none;
justify-content: space-between;
 /* border-bottom: ; */
}
.BtnAdd{
  background-color: #148019;
  border-radius: 10px;
  padding: 10%;
  color: aliceblue;
}
.BtnDel{
   background-color: red;
  border-radius: 10px;
  padding: 10%;
  color: aliceblue;
}
.BtnEdit{
   background-color: #62A3AE;
  border-radius: 10px;
  padding: 10%;
  color: aliceblue;
}
.BtnSave{
   background-color: #148019;
  border-radius: 10px;
  padding: 12%;
  color: aliceblue;
}

.Nav a :hover{
 border-bottom: 2px solid rgb(133, 8, 95);
 /* background-color: aqua; */
 cursor: pointer;
/* transition: all 0.3s ease; */
 display: block;
/* border-bottom: 2px blue; */
}

.ThreeButtons{
  display: flex;
  justify-content: space-around;
 
  

}
.foot{
  margin-left: 40%;
}
.Nav{
/* width: 100%;
height: 5%; */
}
.Footer{

}
.SearchBar{
  border-radius: 12px;
  color: black;
}