* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
html{
  font-size: 75%;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5DA3AF;
  border-radius: 12px
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: black;
  border-radius: 12px
}
.Form{
  padding: 10%;
}






/* nav{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}
ul li a:hover{
   background-color: #111111;
} */